<!DOCTYPE html>

    <head>
        <title>Calgary Buildings Map</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="/static/styles/pagestyle.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <link rel="stylesheet" href="/static\Leaflet.markercluster-1.4.1\dist\MarkerCluster.css">
        <link rel="stylesheet" href="/static\Leaflet.markercluster-1.4.1\dist\MarkerCluster.Default.css">

        <script src="/static\Leaflet.markercluster-1.4.1\dist\leaflet.markercluster-src.js"></script>
        <script src="/static\Leaflet.markercluster-1.4.1\src\MarkerCluster.js"></script>
    </head>
	
    <body>
        <h1>permit search</h1>
        <div id="map" style="width: 1200px; height: 580px; margin: 0 auto"></div>
        <p class="warning">{{ message }}</p>
        <h3>search for building permits between two given dates!</h3>
        <form id="searcher" action = "{{ url_for('index') }}" method="POST">
            <div style="display: flex; justify-content: center; gap: 6px; align-items: center; margin-bottom: 10px;">
                <input name="from_date" type="date" id="start">
                <span style="margin: 0 5px; padding: 0;">until: </span>
                <input name="till_date" type="date" id="till">
            </div>
            <button>search</button>
        </form>
    </body>

    <script>
    var map = L.map('map', {
        center: [51,-114],
        zoom:10
    });
    
    var tile = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'})

    tile.addTo(map);

    var tile2 = L.tileLayer(
            'https://api.mapbox.com/styles/v1/blackgoatlaughs/cm83dqgdz000401so9cldhct2/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYmxhY2tnb2F0bGF1Z2hzIiwiYSI6ImNtODNkYnYxaTBtcmEybHB3MnJ2bGQwNHkifQ.OYZqlOXTklXs9dHyt1WDjA',
            {
              maxZoom: 19,
              attribution:
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> © <a href="https://www.mapbox.com/about/maps/">Mapbox</a> <strong><a href="https://labs.mapbox.com/contribute/" target="_blank">Improve this map</a></strong>'
            }
          )

    tile2.addTo(map)

    var markers = L.markerClusterGroup();

    "{% for point in listofpts %}"
        /*var feature ={ //commented this whole part out, doesnt work with cluster library :(
            "type": "Feature",
            "properties": {
                "adress": "{{point.originaladress}}",
                "community": "{{point.communityname}}",
                "issuedate": "{{point.issuedate}}",
                "workclassgroup": "{{point.workclassgroup}}",
                "contractor": "{{point.contractorname}}",
                "marker-size": "small"
            },
            "geometry":{
                "type": "Point",
                "coordinates": ["{{point.long}}","{{point.lat}}"]
            }
        };
        L.geoJSON(feature, {
            onEachFeature: function (feature, layer) {
                var props = feature.properties;
                var popupContent = `
                    <b>Address:</b> ${props.adress}<br>
                    <b>Community:</b> ${props.community}<br>
                    <b>Issued Date:</b> ${props.issuedate}<br>
                    <b>Work Class:</b> ${props.workclassgroup}<br>
                    <b>Contractor:</b> ${props.contractor}
                `; //templated string that contains everything that the popup will show
                layer.bindPopup(popupContent);
            }
        });
        */
        var marker=L.marker(["{{point.lat}}", "{{point.long}}"]).bindPopup(`
            <b>Address:</b> {{point.originaladress}}<br>
            <b>Community:</b> {{point.communityname}}<br>
            <b>Issued Date:</b> {{point.issuedate}}<br>
            <b>Work Class:</b> {{point.workclassgroup}}<br>
            <b>Contractor:</b> {{point.contractorname}}
        `)
        markers.addLayer(marker);
    "{% endfor %}"
    map.addLayer(markers)
    </script> 
</html>